/* figtree-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url('../ASSETS/fonts/figtree-v9-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    src: url('../ASSETS/fonts/figtree-v9-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url('../ASSETS/fonts/figtree-v9-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src: url('../ASSETS/fonts/figtree-v9-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Variables */
:root {
    --bg-color: rgba(6, 23, 30, 1);
    --bg-footer: rgba(9, 33, 42, 1);
    --bg-header: rgba(9, 33, 42, 1);
    --footer-color: rgba(153, 172, 179, 1);
    --bg-dialog: rgba(9, 33, 42, 1);
}

/* Main page design */
* {
    box-sizing: border-box;
    margin: 0;

    font-family: 'Figtree';
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--bg-color);
}

header {
    background-color: var(--bg-header);

    padding: 10px max(calc(50% - 720px), 140px) 10px max(calc(50% - 720px), 140px);

}

.header-elements-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

header svg {
    width: clamp(24px, 10vw, 60px);
    height: auto;
}

h1 {
    font-size: clamp(24px, 2vw + 1rem, 42px);
    color: white;
    font-weight: 800;
}

h2 {
    font-size: clamp(38px, 3vw + 1rem, 56px);
    color: white;
    font-weight: 800;
    text-align: center;
    padding-top: 40px;
}

dialog h2 {
    padding-top: 0px;
}

main {
    flex: 1;

    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: max(calc(50% - 720px), 140px);
    padding-right: max(calc(50% - 720px), 140px);
}

#photos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 60px;
    padding-top: 60px;
}

#photos-container img {
    width: 150px;
    height: 150px;
    border-radius: 20px;

    outline: 1px solid rgb(98, 123, 132);
}

#photos-container img:hover {
    outline: 2px solid rgb(147, 187, 200);

    cursor: pointer;
}

.photo-button {
    background: transparent;
    border: none;
}

.main-footer {
    background-color: var(--bg-footer);

    color: var(--footer-color);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 10px 0;

    border-top-left-radius: 50% 40px;
    border-top-right-radius: 50% 40px;

}

.main-footer svg {
    width: clamp(100px, 20vw, 150px);
    height: auto;
}

/* Dialog window design */
dialog {

    background-color: var(--bg-dialog);

    border-radius: 20px;
    border: none;

    position: fixed;
    inset: 0;
    margin: auto;

    color: white;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

body:has(dialog[open]){
    overflow: hidden;
}

dialog>header {
    all: unset;

    width: 100%;

    padding: 0;

    background-color: inherit;

    display: flex;
    flex-direction: column;
}

dialog h2 {
    color: white;
    font-size: clamp(18px, 1rem + 1vw, 24px);
    font-weight: 500;
}

dialog>header svg {
    width: 32px;
    height: 32px;
}

#close-dialog-btn {
    align-self: flex-end;
    background-color: transparent;
    border-style: none;
    border-radius: 50%;
}

#close-dialog-btn:hover {
    background-color: rgba(18, 70, 88, 1);
}

#close-dialog-btn:active {
    background-color: rgba(13, 50, 64, 1);
}

#photo-name-display {
    align-self: flex-start;
}

.photo-display-dialog {
    height: 60%;
    width: 100%;
    text-align: center;
}

dialog img {
    padding-top: 5px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.dialog-footer {
    all: unset;

    width: calc(100% - 40px);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    background-color: inherit;

    color: white;
    font-weight: 500;
    font-size: 16px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    padding: 0 20px;
}

.dialog-footer p {
    width: 80px;
    text-align: center;
}

.dialog-footer svg {
    width: 24px;
    height: 24px;
}

.dialog-footer button {
    background: rgb(253 91 79 / 10%);
    border: none;
    border-radius: 50%;

    padding: 15px;
}

.dialog-footer button:active {
    background: rgb(253 91 79 / 20%);
}

.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls img{
    height: 24px;
    width: 24px;
}
.arrays-index-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Responsive design */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        padding-left: 30px;
        padding-right: 30px;
    }

    h2 {
        padding-top: 40px;
    }

    dialog h2 {
        padding-top: 0px;
    }

    #photos-container {
        padding-top: 55px;
        padding-bottom: 55px;
    }

    #photos-container img {
        width: 120px;
        height: 120px;
    }
}

/* Resposnive dialog */
@media (max-width: 480px) {
    dialog {

        width: 275px;
        height: 400px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    dialog {

        width: 375px;
        height: 500px;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    dialog {

        width: 500px;
        height: 650px;
    }

    dialog>header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    #close-dialog-btn {
        align-self: unset;
    }

    dialog>footer {

        justify-content: center;
        gap: 25px
    }
}

@media (min-width: 1280px) {
    dialog {

        width: 550px;
        height: 700px;
    }

    dialog>header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    #close-dialog-btn {
        align-self: unset;
    }

    dialog>footer {

        justify-content: center;
        gap: 25px
    }
}